<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/base-min.css"> <link rel="stylesheet" href="./font-awesome-4.7.0/css/font-awesome.min.css">
                                                                                .button-success,
                                                                                .button-error,
                                                                                .button-warning,
                                                                                .button-secondary {
                                                                                    color: white;
                                                                                    border-radius: 5px;
                                                                                    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
                                                                                }

                                                                                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                                                                                <!-- Opcionális téma -->
                                                                                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.center {
    margin: auto
}

body {
  margin: 3;
  padding: 5;
  font-family: sans-serif;
}
aside {
    width: 35%;
    display: inline-block;
    float: right;
}
section,aside{
    height:500px;
}
section {
    background-color: #ccc;
}
